<ul>
	<li>Práctica 1
		<ul>
			<li>Tipos de Pokemones - <a href="<%=Constantes.base_url%>ulima/practica1/tipos_pokemones"> Aquí</a></li>
			<li>Pokemones - <a href="<%=Constantes.base_url%>ulima/practica1/pokemones"> Aquí</a></li>
		</ul>
	</li>
</ul>