<div class="col-md-10 workspace">
	<form action="#" class="sky-form">
		<header>Lista de Sistemas</header>
		<fieldset>
			<label class="oculto" id="sistema_id"></label>
			<label class="texto-der oculto" id="txtMensajeRpta"></label>
			<table class="list issues" style="" id="tablaSistemas"></table>
		</fieldset>
	</form>
</div>